###
# LDM
###
ldm:
  # restart: always
  image: unidata/ldm-docker:6.13.4
  container_name: ldm
  volumes:
    # change defaults to your liking
    - ./etc/:/home/ldm/etc/
    - ./data/:/home/ldm/var/data/
    - ./data/:/home/ldm/var/queues/
    - ./logs/:/home/ldm/var/logs/
  ports:
    - "388:388"
  ulimits:
    nofile:
      soft: 1024
      hard: 1024
